.home-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f0f2f5;
}

/*  Header Section */
.home__header {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Left Header */
.home__header__left {
  display: flex;
  margin-left: 10px;
  align-items: center;
  gap: 10px;
  flex: 0.5;
  height: 100%;
}

.input {
  position: relative;
  width: fit-content;
}

.input > form > input {
  outline: none;
  border: 1px solid lightgrey;
  background-color: #f0f2f5;
  padding: 10px 40px;
  border-radius: 20px;
}

.input > form > input::placeholder {
  padding-left: 20px;
  font-size: 15px;
}

.search-icon {
  position: absolute;
  top: 6px;
  font-size: x-large;
  left: 10px;
  color: #828898;
}

/* Middle Header */
.home__header__middle {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
}

.home__header__middle > div {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 15px;
  justify-content: center;
}

.home__header__middle > mat-icon {
  color: #65676b;
  font-size: 30px;
}

.home__header__middle > div:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  border-radius: 15px;
}

div.active {
  position: relative;
}

div.active::before {
  content: "";
  border-bottom: 4px solid #1877f2;
  position: absolute;
  bottom: -15px;
  height: 2px;
  width: 100%;
}

div.active > mat-icon {
  color: #1877f2;
}

/* Right Header */
.home__header__rigth {
  flex: 0.5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 15px;
  gap: 15px;
}

.home__header__rigth > * {
  margin-right: 10px;
  cursor: pointer;
}

span.name {
  font-size: 16px;
}

.home__header__rigth > div {
  display: flex;
  align-items: center;
}

.home__header__rigth > div > span {
  margin-left: 5px;
}

.home__header__rigth > div:not(:first-of-type) {
  padding: 10px;
  border-radius: 50%;
  background-color: #e4e6eb;
}

/* BODY SECTION */

.home__body {
  margin-top: 100px;
  background-color: #f0f2f5;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  align-items: flex-start;
}

/* Body Sidebar Left */
.home__body__sidebarLeft {
  position: relative;
}

.inside {
  position: fixed;
  padding: 15px;
  margin-top: 5px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-avatar {
  display: flex;
  align-items: center;
  gap: 15px;
}

span.name {
  font-size: 16px;
}

div {
  display: flex;
  gap: 20px;
  font-size: 16px;
  align-items: center;
}

div > mat-icon {
  color: #1877f2;
  font-size: xx-large;
  width: fit-content;
  height: fit-content;
}

/* mat-icon(see-more) */
.see-more {
  color: #828890 !important;
  padding: 5px;
  border-radius: 50%;
  background-color: #e4e6eb;
}

.see-more:last-of-type {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 20px;
}

/* Middle Body */

.home__body__contentMiddle {
  padding: 10px;
  margin-left: 420px;
  flex: 0.4;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.home__body__contentMiddle__top {
  flex: 0.5;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.image-card {
  width: 120px;
  height: 200px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
}

.bg:hover {
  transform: scale(1.06);
}

.card-name {
  font-size: 15px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 1.2;
  position: absolute;
  bottom: 10px;
  left: 5px;
  color: white;
  font-weight: 600;
  padding: 5px;
}

img.bg {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  z-index: 99;
  position: absolute;
  top: 10px;
  left: 10px;
}

.home__body__contentMiddle__center {
  padding: 0 10px;
  min-height: 20px;
  width: 100%;
  align-self: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-message {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.post-message-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.home__body__contentMiddle__center > form {
  flex: 1;
}

.on-your-mind {
  background-color: #f0f2f5;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  width: 100%;
}

.card-body {
  align-self: center;
  display: flex;
  justify-content: center;
  padding: 10px 40px;
  width: 90%;
  margin-top: 10px;
  align-items: center;
}

.card-body > div {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 15px;
}

.posts {
  display: flex;
}

.posts__header__rigth {
  display: flex;
  flex-direction: column-reverse;
}

.posts__header__rigth > h3 {
  font-weight: 600;
  font-size: 15px;
  text-transform: capitalize;
  margin-bottom: 0;
}

.posts__body {
  margin-top: 10px;
}

/* Body Feed */

.home__body__feedRight {
  flex: 0.4;
  position: relative;
  align-self: flex-start;
}

.inside {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}
